export(AssessMonophyly, CollapseMonophyletics, GetSummaryMonophyly, GetResultMonophyly, GetIntruderTaxa, GetIntruderTips, GetOutlierTaxa, GetOutlierTips, GetAncNodes, PlotMonophyly, GenerateTaxonomy)

import(ape, phytools, RColorBrewer)

importFrom("taxize", tax_name)
importFrom("phangorn", Children)
importFrom("grDevices", "dev.off", "pdf", "rainbow")
importFrom("graphics", "layout", "par", "plot")
importFrom("plyr", "dplyr")
